<div class="transaction-container">

    <div class="filter-container">
        <div class="title-wrapper">
            <div> {{'period' | localize}} </div>
            <div> {{'amount' | localize}} </div>
        </div>

        <div class="inputs">
            <div class="input-field">
                <bgs-input type="date" placeholder="{{'from' | localize}} " [(ngModel)]="filter.dateFrom" ></bgs-input>
            </div>
            <div class="input-field">
                <bgs-input type="date" onfocus="(this.type='date')" placeholder="{{'to' | localize}} " [(ngModel)]="filter.dateTo"></bgs-input>
            </div>
            <div class="input-field">
                <bgs-input placeholder="{{'from' | localize}} "[(ngModel)]="filter.amountFrom" > </bgs-input>
            </div>
            <div class="input-field">
                <bgs-input placeholder="{{'to' | localize}} " [(ngModel)]="filter.amountTo"></bgs-input>
            </div>
        </div>

        <div class="checkbox-inputs-wrapper">

            <div class="checkbox-input">
                <input type="checkbox" [(ngModel)]="filter.transactionTypeId" >
                <label> {{'deposit' | localize}} </label>
            </div>

            <div class="checkbox-input">
                <input type="checkbox" [(ngModel)]="filter.transactionTypeId" >
                <label> {{'withdrow' | localize}} </label>
            </div>

            <div class="checkbox-input">
                <input type="checkbox" [(ngModel)]="filter.transactionTypeId" >
                <label> {{'bet' | localize}} </label>
            </div>
            <div class="checkbox-input">
                <input type="checkbox"[(ngModel)]="filter.transactionTypeId" >
                <label> {{'win' | localize}} </label>
            </div>

            <div class="btn-wrapper">
                <bgs-button label=" {{'filter' | localize}} "> </bgs-button>
            </div>

        </div>
    </div>

</div>