<div class="register-container">
    <span class="header"> {{'Create new account' | localize}} </span>
    <bgs-input placeholder="{{'firstname' | localize}}" width="100%"> </bgs-input>
    <bgs-input placeholder="{{'lastname' | localize}}" width="100%"> </bgs-input>
    <div class="input-radio">
        <p class="gender">{{"gender" | localize}}</p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male"> {{"male" | localize}} </label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female"> {{"female" | localize}} </label>
    </div>
    <div class="birthdate">
        <p>{{"birthdate" | localize}}</p>
        <bgs-input placeholder="{{'day' | localize}}" width="70px" maxLength="2"> </bgs-input>
        <bgs-input placeholder="{{'month' | localize}}" width="70px" maxLength="2"> </bgs-input>
        <bgs-input placeholder="{{'year' | localize}}" width="70px" maxLength="4"> </bgs-input>
    </div>

    <bgs-input placeholder="{{'address' | localize}}" width="100%"> </bgs-input>
    <bgs-input placeholder="{{'email' | localize}}" width="100%"> </bgs-input>
    <bgs-input placeholder="{{'username' | localize}}" width="100%"> </bgs-input>
    <bgs-input placeholder="{{'password' | localize}}" width="100%"> </bgs-input>
    <bgs-input placeholder="{{'repeatPassword' | localize}}" width="100%"> </bgs-input>
    <div>
        <bgs-button width="100%" label="{{'register' | localize}}"> </bgs-button>
    </div>

</div>