<div class="title">
    <span class="edit-profile"> {{"edit_profile" | localize}} </span>
</div>

<div class="container">


    <div class="personal-information">


        <div class="name">
            <div class="firstname">
                <label class="label" for="firstname"> {{'firstname' | localize}} </label>
                <div class="field">
                    <bgs-input disabled></bgs-input>
                </div>
            </div>

            <div class="lastname">
                <label class="label" for="firstname"> {{'lastname' | localize}} </label>
                <div class="field">
                    <bgs-input disabled></bgs-input>
                </div>
            </div>
        </div>

        <div class="birthdate">
            <label class="label"> {{'birthdate' | localize}} </label>
            <div class="field">
                <bgs-input width="97px" disabled></bgs-input>
                <bgs-input width="97px" disabled></bgs-input>
                <bgs-input width="97px" disabled></bgs-input>
            </div>
        </div>

        <div class="gender">
            <label class="label"> {{'gender' | localize}} </label>
            <div class="radio-input">
                <input type="radio">
                <label class="label" for=""> {{'male' | localize}} </label>
                <input type="radio">
                <label class="label" for=""> {{'female' | localize}} </label>
            </div>
        </div>

        <div class="address">
            <label class="label"> {{'address' | localize}} </label>
            <div class="field">
                <bgs-input width="305px" disabled></bgs-input>
            </div>
        </div>

    </div>

    <div class="contact-information">

        <div class="telephone">
            <label class="label"> {{'telephone' | localize}} </label>
            <div class="field">
                <bgs-input width="305px" disabled></bgs-input>
            </div>
        </div>

        <div class="email">
            <label class="label"> {{'email' | localize}} </label>
            <div class="field">
                <bgs-input width="305px" disabled></bgs-input>
            </div>
        </div>

        <div>
            <bgs-button>  </bgs-button>
        </div>

    </div>


</div>